:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.background-color {
    background-color: #1a1a1a;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    user-select: none;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

svg {
    width: 32px;
    height: 32px;
    margin-right: 4px;
}

svg > path {
    stroke: #cccccc;
}

#app {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    /* height: 400px; */
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.content {
    display: flex;
    width: 100%;
    max-height: 420px;
}

.content > canvas {
    width: 720px;
    height: 420px;
    margin-left: 4px;
}

.column {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 24px;
    min-width: 400px;
    margin: 0px 4px 0px 4px;
    overflow: hidden;
}

.column > .content {
    overflow-y: auto;
    overflow-x: hidden;
}

.action {
    display: flex;
    align-items: center;
}

.icon-container {
    padding: 12px 0 12px 0;
}

.glow {
    filter: drop-shadow(0 0 1em red);
}

.list-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#1a1a1a00, #1a1a1aFF);
}

.quote {
    color: #888;
}

@media (prefers-color-scheme: light) {

    :root {
      color: #213547;
      background-color: #ffffff;
    }

    a:hover {
      color: #747bff;
    }

    .background-color {
        background-color: #f9f9f9;
    }

    .list-gradient {
        background-image: linear-gradient(#f9f9f900, #f9f9f9FF);
    }
}
